<?xml version="1.0"?>
<configuration>
  
    <configSections>
      <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
    </configSections>
  
  <connectionStrings>
    <!--<add name="dbConnStrRete" connectionString="Data Source=PCDATIBBG;Initial Catalog=dbGestTestReport;Persist Security Info=True;User ID=sa;Password=tito"
      providerName="System.Data.SqlClient" />-->
    <add name="dbConnStrRete"
      connectionString="Data Source=PCMSICASA;Initial Catalog=dbGestTestReport;Persist Security Info=True;User ID=sa;Password=tito;Encrypt=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

</configuration>
