<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<configSections>
			<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
		</configSections>
	<dataConfiguration defaultDatabase="dbGestTestReportConnectionString"/>
	<connectionStrings>
  <add name="dbGestTestReportConnectionString" connectionString="Data Source=FABRIZIO-PC-ADJ\SQLEXPRESS;Initial Catalog=dbGestTestReport;Integrated Security=True"
   providerName="System.Data.SqlClient" />
    
  <add name="dbGestTestReport" connectionString="Data Source=FABRIZIO-PC-ADJ\SQLEXPRESS;Initial Catalog=dbGestTestReport;Integrated Security=True"
   providerName="System.Data.SqlClient" />
    
  <add name="dbGestTestReportConnLan" connectionString="Data Source=BACKUP-PC-BBG\SQLEXPRESS;Initial Catalog=dbGestTestReport;Persist Security Info=True;User ID=sa;Password=tito" providerName="System.Data.SqlClient" />
    
  <add name="dbGestTestReportConnStrCasa"
   connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=dbGestTestReport;Integrated Security=True"
   providerName="System.Data.SqlClient" />
    
 </connectionStrings>
  
		<startup useLegacyV2RuntimeActivationPolicy="true">
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
		</startup>

</configuration>